    @font-face {
      font-family: 'Magicschool1';
      src: URL('Letters for Learners.ttf') format('truetype');
    }



.font{
    font-family: 'Magicschool1';
}

body{
    margin:auto 0;
    margin-top: 0; 
}
nav{

    background-color: rgba(50,39,33,0.2);
    font-family: 'Magicschool1';
}
ul{
    margin:5px;
    display: flex;
    list-style: none;
    font-size: 0.8em;

}
li{
    margin: 0px;
    top: 0;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.push{
    margin-left: auto;
}
.sticky{
    position: fixed;
    width: 100%;

}

footer{
    text-align: center;
    background-color: rgba(50,39,33,0.6);

}
/*cover*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

}
.coverpic{
    width:100%;
    height:100%;
}
/********************************************************************/
.zone {
  /*/*  /*padding:30px 50px;
    margin:40px 60px;
    display:inline-block;*/
    background-color: rgba(50,39,33,0.4);
    /*color:#FFF;*/
    font-size:2em;
    /*border-radius:4px;
    border:1px solid #bbb;*/
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
}

.box{
    background-color: #444;
    padding: 75px;
    margin: 10px;
}

.question{
    font-size: 0.5em;
}


.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

   input[type='radio']:after {
        cursor:pointer;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #50608F;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,#F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

.brown{
    background: #322721; /* Old browsers */
    background: -moz-linear-gradient(top, #322721 0%, #322721 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#322721), color-stop(100%,#322721)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,#322721 0%,#322721 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #322721 0%,#322721 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,#322721 0%,#322721 100%); /* IE10+ */
    background: linear-gradient(top, #322721 0%,#322721 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}


.beige{
    background: #60C8BD; /* Old browsers */
    background: -moz-linear-gradient(top, #60C8BD 0%, #1A9588 44%, #60C8BD 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60C8BD), color-stop(44%, #1A9588), color-stop(100%,#60C8BD)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #60C8BD 0%, #1A9588 44%,#60C8BD 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #60C8BD 0%,#1A9588 44%,#60C8BD 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #60C8BD 0%,#1A9588 44%,#60C8BD 100%); /* IE10+ */
    background: linear-gradient(top, #60C8BD 0%,#1A9588 44%,#60C8BD 100%); /* W3C */
}
